{% extends "base_generic.html" %}

{% block content %}
  <div class="content-section">
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Need a UK Guarantor?</legend>
      </fieldset>
    <p>When renting a property in the UK, your landlord or letting agency may require you to provide a UK rent guarantor. Using Housing Hand. It's quick and easy to do!</p>
    <a href="https://www.housinghand.co.uk/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Visit Housing Hand</a>
  </div>
{% endblock %}
